<div class='container margin-top'>
  <div class="row">
    <div class="col-md-2 images-container">
      <%= link_to image_tag("logo.png", class: 'spot-icon'), "https://itunes.apple.com/us/app/spot2fish/id1014977861?mt=8" %>
      <%= link_to image_tag("appstore.png", class: 'app-icon'), "https://itunes.apple.com/us/app/spot2fish/id1014977861?mt=8" %>
    </div>
    <div class="col-md-10">
      <h3 class='header margin-bottom'>
        I didn't know how to code and I didn't know where to fish so... I made this App.
      </h3>
      <%= link_to image_tag("pic_1.png" ), "https://itunes.apple.com/us/app/spot2fish/id1014977861?mt=8" %>
      <%= link_to image_tag("pic_2.png" ), "https://itunes.apple.com/us/app/spot2fish/id1014977861?mt=8" %>
      <%= link_to image_tag("pic_4.png" ), "https://itunes.apple.com/us/app/spot2fish/id1014977861?mt=8" %>
      <p class='text top-padding'>
        I am a firm believer in learning by doing, and there is no better way to learn how to code than building something you have an interest in. From a young age, I have loved to fish and have recorded some awesome catches in my days including a 13 pound largemouth bass and a 150 pound tarpon. When I moved to Chicago and scanned across the vast waterway which is Lake Michigan, I had no idea where I should go fishing. Fishing spots are tightly guarded secrets among anglers, and I had a terrible time finding the secret spots along the Lake Michigan shore to go fishing. This was the first time I had the idea to make a product that allowed users to view and steal people's fishing spots. Sidenote: At this point I had no coding knowledge and had never even seen the command line.
      </p>
      <p class='text'>
        In September of 2013 I enrolled in Dev BootCamp in Chicago and started my transformation into a software developer. Prior to that I was a trader on the Chicago Board of Trade for 6 years. I quickly found writing code therapeutic and very empowering. The process of sitting down and creating whatever you want is a very powerful thing, and I can’t get enough of it. I started developing the idea of creating an app that allowed users to have the ability to steal people's fishing spots. There was nothing on the market at the time that let a user access another angler’s tightly guarded secret fishing spots.
      </p>
      <p class='text'>
        Graduating Dev BootCamp gave me a strong skill set; mainly skills working with Sinatra, HTML, CSS and Active Record. With all my free time, I set out to build a “fishing spot stealing” app. I used Sinatra and jQuery to make the first version of Spot2fish. Little did I know, making this initial app would help me tremendously in the development of my coding skills and would propel me into a job as a programmer.
      </p>
      <p class='text'>
        I was teaching myself how to code by doing, by creating something. I have to admit that things were pretty bad in the beginning. Below is the first version of Spot2fish, known as the "Columbus Fishing Spot Database".
      </p>
      <%= link_to image_tag("columbus_fishing_database.png",  height: '300', width: '400', class: 'cfsd'), "https://itunes.apple.com/us/app/spot2fish/id1014977861?mt=8" %>
      <p class='text'>
        But I didn’t care. I was creating something that I thought was awesome, and I was learning how to code in the process. At this time I was living in Columbus, Ohio and benefiting from the great Ruby community. I took advantage of the great mentors at my disposal, asking them questions at every opportunity. If I didn’t have mentors that were more than generous with their time and knowledge, Spot2fish would never have been made. There is nothing better than enthusiastic mentors that are excited to teach new skills to young developers, and Columbus, Ohio has plenty of great mentors. The coding knowledge, mentors, and friends that I have acquired along the way while making Spot2fish are more than I could have asked for.
      </p>
      <p class='text'>
        Over the next year and a half I kept working on Spot2fish and improved my coding ability ten fold. I built versions in Ruby on Rails, Node.js, Angular.js, and eventually made it into the App Store in July of 2015 when I made Spot2fish in Swift.
      </p>
      <p class='text'>
        Spot2fish retrieves posts from Instagram and Twitter that are fishing related. The main features of the app are the voting capability and the ability to find fishing spots. Each individual spot comes with Spot2fish location details that outline the exact location the fisherman or fisherwoman uploaded their fishing related post to social media. The Spot2fish location details include both the latitude and longitude, as well as the city and state. In most cases, this is the same location where they caught their fish, allowing you to potentially steal their fishing spot. Click the globe icon to reveal the map displaying the potential fishing spot.
      </p>
      <p class='text'>
        One of the main technical challenges was the delicate dance I had to do with the API of both Instagram and Twitter while retrieving the fishing related posts. Both Instagram and Twitter have rate limits and you could be banned from using their respective services if you violate these rate limits. Check out the limits <%= link_to "here (Twitter limits)", "https://dev.twitter.com/rest/public/rate-limits", class: 'limit-link' %>  and <%= link_to "here (Instagram limits)", "https://instagram.com/developer/limits/?hl=en", class: 'limit-link' %>. One way to get around this is by checking your rate limit <%= link_to "status", "https://dev.twitter.com/rest/reference/get/application/rate_limit_status", class: 'limit-link' %> if you are approaching your limit perform a sleep function for at least 15 minutes. I would also suggest when you are pulling down Tweets to be sure to change the default to the maximum, currently the default is 20. Social media hacking is very interesting, and I will be making a post on just that subject in the future.
      </p>
      <p class='text'>
        Spot2fish isn’t perfect, but it is a start. Unfortunately, not every spot is a legitimate fishing spot, and I am continuously working on improving that feature. I am also adding new features and developing better ways for users to find fishing spots. If you find a spot that is not fishing related, please flag it and I will remove it.
      </p>
      <p class='text'>
        Hopefully people reading this will be encouraged to start a side project and learn how to code by doing.
      </p>
      <p class='text'>
        Please download Spot2fish in the App Store... it's FREE! : )
      </p>
      <p class='text'>
      <%= link_to "Scott Mascio", "http://www.scottmascio.com/#/resume", class: 'signiture' %>
      <br>
      <%= link_to "@Spot2fish", "https://twitter.com/spot2fish", class: 'signiture' %>
      <br>
      <%= link_to "@_s_mas", "https://twitter.com/_s_mas", class: 'signiture' %>
      </p>
    </div>
  </div>
</div>
